.blogHeader {
    background-image: url("../assets/blog-header.jpg");
    height: 60vh;
}

.blog {
    background-color: $pink;
    padding: 100px 0;
    h4 {
        color: $black;
        font-family: $cursive;
        font-size: 5rem;
        text-transform: uppercase;
        font-weight: $regular;
    }
    h5 {
        color: $black;
        font-family: $cursive;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: $regular;
        margin: 0;
        padding: 10px 0;
    }
    .blogContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        .recentPosts {
            width: calc(30% - 50px);
            margin-right: 50px;
            background-color: $white;
            padding: 50px;
            p:first-of-type {
                margin-bottom: 20px;
            }
            li {
                list-style: disc;
                a {
                    font-family: $sans;
                    font-size: 2.3rem;
                    color: $black;
                    text-decoration: none;
                    font-weight: $regular;
                    line-height: 1.8;
                }
            }
        }
        .blogPosts {
            width: 70%;
            background-color: transparent;
            margin-top: -40vh;
            position: relative;
            z-index: 1000;
            .post {
                background-color: $white;
                padding: 50px;
                p:first-of-type {
                    padding-top: 50px;
                }
            }
            .comments {
                padding: 50px 0;
                .comment {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: flex-start;
                    padding-top: 50px;
                    .userImg {
                        width: 20%;
                        padding: 0 50px;
                        img {
                            object-fit: cover;
                            object-position: center;
                            width: 100%;
                        }
                    }
                    .userComment {
                        width: 80%;
                    }
                }
            }
        }
    }
    .postDate {
        font-size: 2.3rem;
        font-family: $sans;
        color: $black;
        font-weight: $bold;
    }
}