.headerBackgroundContainer {
    width: 100vw;
    height: 80vh;
    background-image: url("../assets/header-image.jpg");
    background-size: cover;
    background-position: cover;
    position: relative;
}

.floatingImageContainer {
    position: absolute;
    top: 10vh;
    right: 0;
    // width: 100vw;
    max-height: 10vh;    
    // display: flex;
    // flex-direction: row;
    // justify-content: flex-end;
    // align-items: center;
}

.floatingImage {
    // width: auto;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
}

.floatingImage img {
    object-fit: cover;
    object-position: center;
    background-color: transparent;
}

.innerHeaderContainer {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 30px;
}

.topNavList {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.topNavList li a {
    text-transform: uppercase;
    color: $black;
    font-size: 2rem;
    padding: 10px 20px;
    font-weight: $bold;
    transition: all 0.5s ease;
    display: block;
}

.topNavList li a:hover {
    color: $white;
    background-color: $plum;
}

h1, h3 {
    font-family: $cursive;
    font-weight: $regular;
}

h1 {
    font-size: 12rem;
    color: $plum;
}

h3 {
    font-size: 4rem;
}

h3 span {
    display: block;
}

h1 span {
    display: block;
    line-height: 0.7;
}

.logoContainer, .topNav, .mainHeadingContainer {
    width: 50%;
}

.mainHeadingContainer {
    padding: 100px 0;
}