p {
    color: $black;
    font-size: 2.3rem;
    font-weight: $regular;
    line-height: 1.8;
}

h2 {
    text-transform: uppercase;
    color: $plum;
    font-family: $cursive;
    font-size: 6rem;
    font-weight: $regular;
    @include mobile {    
        font-size: 4rem;
        text-align: center;
    }
}

.underTheSea {
    background-color: $pink;
    padding: 150px 0;
    text-align: center;
    @include mobile {    
        padding: 20px 0;
    }
    p {
        padding: 20px 0;
    }
}

.findOutMore {
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    color: $white;
    background-color: $plum;
    font-size: 2rem;
}

.newAdditions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    @include mobile {    
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .wrapper {
        margin-right: 20%;
        width: auto;
        @include mobile {    
            margin: 0 10px;
        }
    }
    .newAdditionsImg {
        width: 50%;
        position: relative;
        top: -50px;
        @include mobile {    
            width: 100%;
            top: 0;
        }
        &::before {
            content: "";
            position: absolute;
            top: 50px;
            right: -50px;
            height: calc(100% - 50px);
            width: 50px;
            background-color: $orange;
            @include mobile {    
                display: none;
            }
        }
        &::after {
            content: "";
            position: absolute;
            bottom: -50px;
            right: -50px;
            width: 100%;
            height: 50px;
            background-color: $orange;
            @include mobile {    
                display: none;
            }
        }
        img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            display: block;
        }
    }
}

.tooManyOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    @include mobile {    
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .wrapper {
        margin-left: 20%;
        width: auto;
        @include mobile {    
            margin: 0 10px;
        }
    }
    .tooManyOptionsImg {
        width: 50%;
        position: relative;
        top: 50px;
        @include mobile {    
            width: 100%;
            top: 0;
        }
        &::before {
            content: "";
            position: absolute;
            left: -50px;
            top: 50px;
            height: calc(100% - 50px);
            width: 50px;
            background-color: $orange;
            @include mobile {    
                display: none;
            }
        }
        &::after {
            content: "";
            position: absolute;
            bottom: -50px;
            left: -50px;
            width: 100%;
            height: 50px;
            background-color: $orange;
            @include mobile {    
                display: none;
            }
        }
        img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            display: block;
        }
    }
}

.newAdditionsContainer, .tooManyOptionsContainer {
    width: 50%;
    padding: 100px 0;
    background-color: $white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    @include mobile {    
        flex-direction: column;
        width: 100%;
        padding: 25px 0;
    }
    .newAdditionsText, .tooManyOptionsText {
        width: 100%;
        h4 {
            color: $black;
            font-family: $cursive;
            font-size: 6rem;
            text-transform: uppercase;
            font-weight: $regular;
            @include mobile {    
                text-align: center;
            }
        }
    }
}



.newAdditionsContainer {
    justify-content: flex-end;

}

.tooManyOptionsContainer {
    justify-content: flex-start;
}

.readMore {
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    color: $white;
    background-color: $brown;
    font-size: 2rem;
    @include mobile {    
        text-align: center;
        width: 80%;
        margin: 10px 10%;
    }
}

.generalInfo {
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: $pink;
    @include mobile {    
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.generalInfoContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    @include mobile {    
        flex-direction: column;
     }
    .locations, .community, .homepageBlog, .getInTouch {
        width: 50%;
        padding-top: 0;
        h2 {
            @include mobile {    
                text-align: left;
            }
        }
        @include mobile {    
            width: 100%;
            padding-bottom: 20px;
        }
        .generalInfoInnerContainer {
            display: flex;
            flex-direction: row;
            padding: 25px;
            @include mobile {    
                padding: 0;
            }
            .icon {
                width: 60px;
                height: 60px;
                padding: 20px;
                border-radius: 50%;
                background-color: $plum;
                display: flex;
                justify-content: center;
                align-items: center;
                @include mobile {    
                    width: 45px;
                    height: 45px;
                }
                i {
                    font-size: 3.2rem;
                    color: $white;
                    @include mobile {    
                        font-size: 2rem;
                    }
                }
            }
            .generalInfoText {
                width: calc(100% - 125px);
                padding-left: 20px;
                @include mobile {    
                    width: 100%;
                    padding-left: 10px;
                }
            }
        }
    }
}

.fullBleedShoes {
    width: 100vw;
    @include mobile {    
        display: none;
    }
    img {
        object-position: center;
        object-fit: cover;
        width: 100%;
        height: auto;
    }
}

.popularThisMonth {
    background-color: $white;
    padding-top: 15%;
    padding-bottom: 100px;
    @include mobile {    
        padding-top: 0;
        padding-bottom: 25px;
    }
    .popularThisMonthContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        @include mobile {    
            flex-direction: column;
            align-items: center;
        }
        .popularThisMonthImgContainer {
            width: 25%;
            @include mobile {    
                width: 100%;
            }
            .popularThisMonthImg {
                position: relative;
                img {
                    display: block;
                }
                @include mobile {    
                    margin: 0 -9px;
                }
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    right: -20px;
                    width: 20px;
                    height: calc(100% - 20px);
                    background-color: $orange;
                    @include mobile {    
                        display: none;
                    }
                }
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -20px;
                    right: -20px;
                    width: 100%;
                    height: 20px;
                    background-color: $orange;
                    @include mobile {    
                        display: none;
                    }
                }
            }
        }
        .popularThisMonthTextContainer {
            padding-left: 100px;
            width: calc(75% - 100px);
            @include mobile {    
                padding: 20px 0;
                width: 100%;
            }
        }
    }
}

.instagram {
    width: 100%;
    background-color: $pink;
    padding: 100px 0;
    .instagramContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        .instagramImgContainer {
            width: calc(100% / 3 - 25px);
            @include mobile {    
                width: calc(100% / 3);
            }
            div {
                padding-right: 25px;
            }
            div:nth-of-type(3) {
                padding-right: 0;
            }
        }
    }
}