// Colours

$plum: #4C0341;
$brown: #882C07;
$orange: #FE6F19;
$pink: #FAE5FF;
$white: #FFFFFF;
$black: #0D0D0D;

// Fonts

$cursive: 'Pompiere', cursive;
$sans: 'Lato', sans-serif;

// Font weights

$regular: 400;
$bold: 700;