html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body, h1, h2, h3, h4, div, p, span, article, aside, section, img, ul, li {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

.wrapper {
  width: 80%;
  margin: 0 10%;
}

body {
  font-family: "Lato", sans-serif;
}

form {
  background-color: #FFFFFF;
  padding: 50px;
  display: block;
  width: 100%;
}

form input, form textarea {
  font-size: 2rem;
  padding: 10px;
}

form input[type=text], form input[type=email] {
  width: calc(50% - 16px);
  border: 0;
  border-bottom: 2px solid #FE6F19;
  margin: 0;
}

form input[type=text] {
  margin-right: 30px;
}

form textarea {
  display: block;
  width: 100%;
  height: 200px;
  border: 2px solid #FE6F19;
  margin: 50px 0;
}

form button {
  display: block;
  width: 100%;
  background-color: #882C07;
  font-size: 2rem;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 20px 0;
  border: 0;
  letter-spacing: 2px;
  font-weight: 400;
}

.headerBackgroundContainer {
  width: 100vw;
  height: 80vh;
  background-image: url("../assets/header-image.jpg");
  background-size: cover;
  background-position: cover;
  position: relative;
}

.floatingImageContainer {
  position: absolute;
  top: 10vh;
  right: 0;
  max-height: 10vh;
}

.floatingImage {
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.floatingImage img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  background-color: transparent;
}

.innerHeaderContainer {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 30px;
}

.topNavList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.topNavList li a {
  text-transform: uppercase;
  color: #0D0D0D;
  font-size: 2rem;
  padding: 10px 20px;
  font-weight: 700;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: block;
}

.topNavList li a:hover {
  color: #FFFFFF;
  background-color: #4C0341;
}

h1, h3 {
  font-family: "Pompiere", cursive;
  font-weight: 400;
}

h1 {
  font-size: 12rem;
  color: #4C0341;
}

h3 {
  font-size: 4rem;
}

h3 span {
  display: block;
}

h1 span {
  display: block;
  line-height: 0.7;
}

.logoContainer, .topNav, .mainHeadingContainer {
  width: 50%;
}

.mainHeadingContainer {
  padding: 100px 0;
}

p {
  color: #0D0D0D;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 1.8;
}

h2 {
  text-transform: uppercase;
  color: #4C0341;
  font-family: "Pompiere", cursive;
  font-size: 6rem;
  font-weight: 400;
}

.underTheSea {
  background-color: #FAE5FF;
  padding: 13% 0;
  text-align: center;
}

.underTheSea p {
  padding: 20px 0;
}

.findOutMore {
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #4C0341;
  font-size: 2rem;
}

.newAdditions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.newAdditions .wrapper {
  margin-right: 20%;
  width: auto;
}

.newAdditions .newAdditionsImg {
  width: 50%;
  position: relative;
  top: -50px;
}

.newAdditions .newAdditionsImg::before {
  content: "";
  position: absolute;
  top: 50px;
  right: -50px;
  height: calc(100% - 50px);
  width: 50px;
  background-color: #FE6F19;
}

.newAdditions .newAdditionsImg::after {
  content: "";
  position: absolute;
  bottom: -50px;
  right: -50px;
  width: 100%;
  height: 50px;
  background-color: #FE6F19;
}

.newAdditions .newAdditionsImg img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  display: block;
}

.tooManyOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.tooManyOptions .wrapper {
  margin-left: 20%;
  width: auto;
}

.tooManyOptions .tooManyOptionsImg {
  width: 50%;
  position: relative;
  top: 50px;
}

.tooManyOptions .tooManyOptionsImg::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 50px;
  height: calc(100% - 50px);
  width: 50px;
  background-color: #FE6F19;
}

.tooManyOptions .tooManyOptionsImg::after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: -50px;
  width: 100%;
  height: 50px;
  background-color: #FE6F19;
}

.tooManyOptions .tooManyOptionsImg img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  display: block;
}

.newAdditionsContainer, .tooManyOptionsContainer {
  width: 50%;
  padding: 100px 0;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.newAdditionsContainer .newAdditionsText, .newAdditionsContainer .tooManyOptionsText, .tooManyOptionsContainer .newAdditionsText, .tooManyOptionsContainer .tooManyOptionsText {
  width: 100%;
}

.newAdditionsContainer .newAdditionsText h4, .newAdditionsContainer .tooManyOptionsText h4, .tooManyOptionsContainer .newAdditionsText h4, .tooManyOptionsContainer .tooManyOptionsText h4 {
  color: #0D0D0D;
  font-family: "Pompiere", cursive;
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 400;
}

.newAdditionsContainer {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.tooManyOptionsContainer {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.readMore {
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #882C07;
  font-size: 2rem;
}

.generalInfo {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #FAE5FF;
}

.generalInfoContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.generalInfoContainer .locations, .generalInfoContainer .community, .generalInfoContainer .blog, .generalInfoContainer .getInTouch {
  width: 50%;
  padding-top: 0;
}

.generalInfoContainer .locations .generalInfoInnerContainer, .generalInfoContainer .community .generalInfoInnerContainer, .generalInfoContainer .blog .generalInfoInnerContainer, .generalInfoContainer .getInTouch .generalInfoInnerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 25px;
}

.generalInfoContainer .locations .generalInfoInnerContainer .icon, .generalInfoContainer .community .generalInfoInnerContainer .icon, .generalInfoContainer .blog .generalInfoInnerContainer .icon, .generalInfoContainer .getInTouch .generalInfoInnerContainer .icon {
  width: 60px;
  height: 60px;
  padding: 20px;
  border-radius: 50%;
  background-color: #4C0341;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.generalInfoContainer .locations .generalInfoInnerContainer .icon i, .generalInfoContainer .community .generalInfoInnerContainer .icon i, .generalInfoContainer .blog .generalInfoInnerContainer .icon i, .generalInfoContainer .getInTouch .generalInfoInnerContainer .icon i {
  font-size: 3.2rem;
  color: #FFFFFF;
}

.generalInfoContainer .locations .generalInfoInnerContainer .generalInfoText, .generalInfoContainer .community .generalInfoInnerContainer .generalInfoText, .generalInfoContainer .blog .generalInfoInnerContainer .generalInfoText, .generalInfoContainer .getInTouch .generalInfoInnerContainer .generalInfoText {
  width: calc(100% - 125px);
  padding-left: 20px;
}

.fullBleedShoes {
  width: 100vw;
}

.fullBleedShoes img {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
}

.popularThisMonth {
  background-color: #FFFFFF;
  padding-top: 100px;
  padding-bottom: 50px;
}

.popularThisMonth .popularThisMonthContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.popularThisMonth .popularThisMonthContainer .popularThisMonthImgContainer {
  width: 25%;
}

.popularThisMonth .popularThisMonthContainer .popularThisMonthImgContainer .popularThisMonthImg {
  position: relative;
}

.popularThisMonth .popularThisMonthContainer .popularThisMonthImgContainer .popularThisMonthImg::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -20px;
  width: 20px;
  height: calc(100% - 20px);
  background-color: #FE6F19;
}

.popularThisMonth .popularThisMonthContainer .popularThisMonthImgContainer .popularThisMonthImg::after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: -20px;
  width: 100%;
  height: 20px;
  background-color: #FE6F19;
}

.popularThisMonth .popularThisMonthContainer .popularThisMonthTextContainer {
  padding-left: 100px;
  width: calc(75% - 100px);
}

.instagram {
  width: 100%;
  background-color: #FAE5FF;
  padding: 100px 0;
}

.instagram .instagramContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.instagram .instagramContainer .instagramImgContainer {
  width: calc(100% / 3 - 25px);
}

.instagram .instagramContainer .instagramImgContainer div {
  padding-right: 25px;
}

.instagram .instagramContainer .instagramImgContainer div:nth-of-type(3) {
  padding-right: 0;
}

.contactHeader {
  background-image: url("../assets/contact-image.jpg");
  height: 60vh;
}

.contact {
  background-color: #FAE5FF;
  padding: 100px 0;
  position: relative;
  z-index: 1000;
}

.contact .contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 100%;
}

.contact .contactContainer .contactIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contactContainer .contactIcons i {
  padding-right: 40px;
  font-size: 3rem;
  color: #4C0341;
}

.contact .contactContainer .emailPhoneAddress {
  width: 35%;
}

.contact .contactContainer .emailPhoneAddress span {
  font-family: "Pompiere", cursive;
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 30px 0;
  display: block;
}

.contact .contactContainer .emailPhoneAddress p {
  white-space: nowrap;
}

.contact .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-width: 65%;
  margin-top: -40vh;
}

.contact .form form {
  width: 100%;
  height: 100%;
  position: relative;
}

.contact .form form::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -50px;
  height: calc(100% - 50px);
  width: 50px;
  background-color: #FE6F19;
}

.contact .form form::after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: -50px;
  width: 100%;
  height: 50px;
  background-color: #FE6F19;
}

.blogHeader {
  background-image: url("../assets/blog-header.jpg");
  height: 60vh;
}

.blog {
  background-color: #FAE5FF;
  padding: 100px 0;
}

.blog .wrapper {
  margin-left: 20%;
  width: auto;
}

.blog h4 {
  color: #0D0D0D;
  font-family: "Pompiere", cursive;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 400;
}

.blog h5 {
  color: #0D0D0D;
  font-family: "Pompiere", cursive;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  padding: 10px 0;
}

.blog .blogContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.blog .blogContainer .recentPostsImg {
  width: calc(20% + 400px);
  background-color: #FFFFFF;
  margin-left: 0px;
  position: relative;
}

.blog .blogContainer .recentPostsImg img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: calc(100% - 20px);
  display: block;
}

.blog .blogContainer .recentPosts {
  width: 400px;
  margin-right: 200px;
  background-color: #FFFFFF;
  padding: 0 20px 20px 20px;
}

.blog .blogContainer .recentPosts h5 {
  padding-top: 20px;
}

.blog .blogContainer .recentPosts p:first-of-type {
  margin-bottom: 20px;
}

.blog .blogContainer .recentPosts li {
  list-style: disc;
}

.blog .blogContainer .recentPosts li a {
  font-family: "Lato", sans-serif;
  font-size: 2.3rem;
  color: #0D0D0D;
  text-decoration: none;
  font-weight: 400;
  line-height: 1.8;
}

.blog .blogContainer .blogPosts {
  width: calc(100% - 600px);
  background-color: transparent;
  margin-top: -40vh;
  margin-left: -50px;
  position: relative;
  z-index: 1000;
}

.blog .blogContainer .blogPosts .blogPostsHeader {
  padding-bottom: 100px;
}

.blog .blogContainer .blogPosts .post {
  background-color: transparent;
}

.blog .blogContainer .blogPosts .post p:first-of-type {
  padding-top: 50px;
}

.blog .blogContainer .blogPosts .postText {
  padding: 100px;
  background-color: #FFFFFF;
}

.blog .blogContainer .blogPosts .blogPostImg {
  width: calc(100% - 50px);
  margin-top: -50px;
  margin-left: 50px;
  position: relative;
}

.blog .blogContainer .blogPosts .blogPostImg::before {
  content: "";
  width: 50px;
  height: calc(100% - 50px);
  position: absolute;
  bottom: 0;
  left: -50px;
  background-color: #FE6F19;
}

.blog .blogContainer .blogPosts .blogPostImg::after {
  content: "";
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: -50px;
  left: -50px;
  background-color: #FE6F19;
}

.blog .blogContainer .blogPosts .blogPostImg img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
}

.blog .blogContainer .blogPosts .comments {
  padding: 50px 0;
  width: 90%;
}

.blog .blogContainer .blogPosts .comments form {
  background-color: transparent;
}

.blog .blogContainer .blogPosts .comments form input, .blog .blogContainer .blogPosts .comments form textarea {
  background-color: transparent;
}

.blog .blogContainer .blogPosts .comments .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 50px;
}

.blog .blogContainer .blogPosts .comments .comment .userImg {
  width: 20%;
  padding: 0 50px;
}

.blog .blogContainer .blogPosts .comments .comment .userImg img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
}

.blog .blogContainer .blogPosts .comments .comment .userComment {
  width: 80%;
}

.blog .postDate {
  font-size: 2.3rem;
  font-family: "Lato", sans-serif;
  color: #0D0D0D;
  font-weight: 700;
}

footer {
  width: 100%;
  background-color: #882C07;
  text-align: center;
  padding: 10px 0;
}

footer p {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 2rem;
}
