html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*:focus {
  border: 2px solid #FE6F19;
}

nav a:focus {
  border: 0;
}

body, h1, h2, h3, h4, div, p, span, article, aside, section, img, ul, li {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

.wrapper {
  width: 80%;
  margin: 0 10%;
}

@media (max-width: 1250px) {
  .wrapper {
    width: 90%;
    margin: 0 5%;
  }
}

@media (max-width: 1100px) {
  .wrapper {
    width: 95%;
    margin: 0 2.5%;
  }
}

body {
  font-family: "Lato", sans-serif;
}

form {
  background-color: #FFFFFF;
  padding: 50px;
  display: block;
  width: 100%;
}

form input, form textarea {
  font-size: 2rem;
  padding: 10px;
}

form input[type=text], form input[type=email] {
  width: calc(50% - 16px);
  border: 0;
  border-bottom: 2px solid #FE6F19;
  margin: 0;
}

form input[type=text] {
  margin-right: 30px;
}

form textarea {
  display: block;
  width: 100%;
  height: 200px;
  border: 2px solid #FE6F19;
  margin: 50px 0;
}

form button {
  display: block;
  width: 100%;
  background-color: #882C07;
  font-size: 2rem;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 20px 0;
  border: 0;
  letter-spacing: 2px;
  font-weight: 400;
}

.headerBackgroundContainer {
  width: 100vw;
  height: 80vh;
  background-image: url("../assets/header-image.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

@media (max-width: 1100px) {
  .headerBackgroundContainer {
    height: 100vh;
  }
}

.burgerNav {
  display: none;
  -webkit-animation: fade 0.7s;
          animation: fade 0.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.activeBurger {
  display: block;
  position: fixed;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.9);
  color: #FFFFFF;
  width: 100vw;
  height: 100vh;
  margin: -10px -10px;
  -webkit-animation: fade 0.7s;
          animation: fade 0.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.mobileBurgerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobileBurgerNav li {
  display: block;
}

.mobileBurgerNav li a {
  color: #FFFFFF;
  font-family: "Lato", sans-serif;
  font-size: 5rem;
  text-decoration: none;
}

.exit {
  display: none;
}

.floatingImage {
  position: absolute;
  top: 10vh;
  right: 0;
  height: 95vh;
  width: 60vw;
}

@media (max-width: 1250px) {
  .floatingImage {
    width: 50vw;
  }
}

@media (max-width: 1100px) {
  .floatingImage {
    display: none;
  }
}

.floatingImageContainer {
  height: 100%;
  width: 100%;
  background-image: url("../assets/home-box-header.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.floatingImage img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  background-color: transparent;
}

.innerHeaderContainer {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 30px;
}

@media (max-width: 1100px) {
  .innerHeaderContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1100px) {
  .innerHeaderContainer {
    padding-top: 10px;
  }
}

.topNavList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 1100px) {
  .topNavList {
    display: none;
  }
}

.topNavList li a {
  text-transform: uppercase;
  color: #0D0D0D;
  font-size: 2rem;
  padding: 10px 20px;
  font-weight: 700;
  -webkit-animation: fade 0.7s;
          animation: fade 0.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: block;
}

.topNavList li a:hover {
  color: #FFFFFF;
  background-color: #4C0341;
}

h1, h3 {
  font-family: "Pompiere", cursive;
  font-weight: 400;
}

h1 {
  font-size: 12rem;
  color: #4C0341;
}

h1 span {
  display: block;
  line-height: 0.7;
}

@media (max-width: 1100px) {
  h1 span {
    line-height: 1;
  }
}

@media (max-width: 1100px) {
  h1 {
    text-align: center;
    font-size: 9rem;
    color: #FFFFFF;
  }
}

h3 {
  font-size: 4rem;
}

@media (max-width: 1100px) {
  h3 {
    display: inline;
  }
}

h3 span {
  display: block;
}

@media (max-width: 1100px) {
  h3 span {
    display: inline;
    color: #0D0D0D;
  }
}

.logoContainer, .topNav, .mainHeadingContainer {
  width: 50%;
}

@media (max-width: 1100px) {
  .logoContainer, .topNav, .mainHeadingContainer {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .logoContainer {
    position: fixed;
    margin-top: -10px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
  }
}

.logoContainer .burgerMenu {
  display: none;
  -webkit-animation: fade 0.7s;
          animation: fade 0.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  float: right;
}

@media (max-width: 1100px) {
  .logoContainer .burgerMenu {
    display: inline;
    font-size: 4rem;
    color: #0D0D0D;
  }
}

@media (max-width: 1100px) {
  .logoContainer .burgerMenuHidden {
    display: none;
    -webkit-animation: fade 0.7s;
            animation: fade 0.7s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
}

.mainHeadingContainer {
  padding: 100px 0;
}

@media (max-width: 1250px) {
  .mainHeadingContainer {
    padding: 100px;
  }
}

@media (max-width: 1100px) {
  .mainHeadingContainer {
    padding: 100px 0;
  }
}

.exitActive {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  font-size: 4rem;
  color: #FFFFFF;
  text-align: right;
  z-index: 5000;
  -webkit-animation: fade 0.7s;
          animation: fade 0.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.exitActive i {
  color: #FFFFFF;
  padding: 10px;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeOut {
  -webkit-animation: fadeOut 0.7s;
          animation: fadeOut 0.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

p {
  color: #0D0D0D;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 1.8;
}

h2 {
  text-transform: uppercase;
  color: #4C0341;
  font-family: "Pompiere", cursive;
  font-size: 6rem;
  font-weight: 400;
}

@media (max-width: 1100px) {
  h2 {
    font-size: 4rem;
    text-align: center;
  }
}

.underTheSea {
  background-color: #FAE5FF;
  padding: 15% 0 150px 0;
  text-align: center;
}

@media (max-width: 1100px) {
  .underTheSea {
    padding: 50px 0;
  }
}

.underTheSea p {
  padding: 20px 0;
}

.findOutMore {
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #4C0341;
  font-size: 2rem;
}

.newAdditions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 1100px) {
  .newAdditions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.newAdditions .wrapper {
  margin-right: 20%;
  width: auto;
}

@media (max-width: 1250px) {
  .newAdditions .wrapper {
    margin-right: 50px;
  }
}

@media (max-width: 1100px) {
  .newAdditions .wrapper {
    margin: 0 10px;
  }
}

.newAdditions .newAdditionsImg {
  width: 50%;
  position: relative;
  top: -50px;
}

@media (max-width: 1100px) {
  .newAdditions .newAdditionsImg {
    width: 100%;
    position: static;
  }
}

.newAdditions .newAdditionsImg::before {
  content: "";
  position: absolute;
  top: 50px;
  right: -50px;
  height: calc(100% - 50px);
  width: 50px;
  background-color: #FE6F19;
}

@media (max-width: 1100px) {
  .newAdditions .newAdditionsImg::before {
    display: none;
  }
}

.newAdditions .newAdditionsImg::after {
  content: "";
  position: absolute;
  bottom: -50px;
  right: -50px;
  width: 100%;
  height: 50px;
  background-color: #FE6F19;
}

@media (max-width: 1100px) {
  .newAdditions .newAdditionsImg::after {
    display: none;
  }
}

.newAdditions .newAdditionsImg img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  display: block;
}

.tooManyOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 1100px) {
  .tooManyOptions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.tooManyOptions .wrapper {
  margin-left: 20%;
  width: auto;
}

@media (max-width: 1250px) {
  .tooManyOptions .wrapper {
    margin-left: 50px;
  }
}

@media (max-width: 1100px) {
  .tooManyOptions .wrapper {
    margin: 0 10px;
  }
}

.tooManyOptions .tooManyOptionsImg {
  width: 50%;
  position: relative;
  top: 50px;
}

@media (max-width: 1100px) {
  .tooManyOptions .tooManyOptionsImg {
    width: 100%;
    position: static;
  }
}

.tooManyOptions .tooManyOptionsImg::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 50px;
  height: calc(100% - 50px);
  width: 50px;
  background-color: #FE6F19;
}

@media (max-width: 1100px) {
  .tooManyOptions .tooManyOptionsImg::before {
    display: none;
  }
}

.tooManyOptions .tooManyOptionsImg::after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: -50px;
  width: 100%;
  height: 50px;
  background-color: #FE6F19;
}

@media (max-width: 1100px) {
  .tooManyOptions .tooManyOptionsImg::after {
    display: none;
  }
}

.tooManyOptions .tooManyOptionsImg img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  display: block;
}

.newAdditionsContainer, .tooManyOptionsContainer {
  width: 50%;
  padding: 100px 0;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (max-width: 1250px) {
  .newAdditionsContainer, .tooManyOptionsContainer {
    width: 40%;
    padding: 50px 0;
  }
}

@media (max-width: 1100px) {
  .newAdditionsContainer, .tooManyOptionsContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 50px 0;
  }
}

.newAdditionsContainer .newAdditionsText, .newAdditionsContainer .tooManyOptionsText, .tooManyOptionsContainer .newAdditionsText, .tooManyOptionsContainer .tooManyOptionsText {
  width: 100%;
}

.newAdditionsContainer .newAdditionsText h4, .newAdditionsContainer .tooManyOptionsText h4, .tooManyOptionsContainer .newAdditionsText h4, .tooManyOptionsContainer .tooManyOptionsText h4 {
  color: #0D0D0D;
  font-family: "Pompiere", cursive;
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 400;
}

@media (max-width: 1100px) {
  .newAdditionsContainer .newAdditionsText h4, .newAdditionsContainer .tooManyOptionsText h4, .tooManyOptionsContainer .newAdditionsText h4, .tooManyOptionsContainer .tooManyOptionsText h4 {
    text-align: center;
  }
}

.newAdditionsContainer {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.tooManyOptionsContainer {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.readMore {
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #882C07;
  font-size: 2rem;
}

@media (max-width: 1100px) {
  .readMore {
    text-align: center;
    width: 80%;
    margin: 10px 10%;
  }
}

.generalInfo {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: #FAE5FF;
}

@media (max-width: 1100px) {
  .generalInfo {
    padding-top: 50px 0;
  }
}

.generalInfoContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1100px) {
  .generalInfoContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.generalInfoContainer .locations, .generalInfoContainer .community, .generalInfoContainer .homepageBlog, .generalInfoContainer .getInTouch {
  width: 50%;
  padding-top: 0;
}

@media (max-width: 1100px) {
  .generalInfoContainer .locations h2, .generalInfoContainer .community h2, .generalInfoContainer .homepageBlog h2, .generalInfoContainer .getInTouch h2 {
    text-align: left;
  }
}

@media (max-width: 1100px) {
  .generalInfoContainer .locations, .generalInfoContainer .community, .generalInfoContainer .homepageBlog, .generalInfoContainer .getInTouch {
    width: 100%;
    padding-bottom: 20px;
  }
}

.generalInfoContainer .locations .generalInfoInnerContainer, .generalInfoContainer .community .generalInfoInnerContainer, .generalInfoContainer .homepageBlog .generalInfoInnerContainer, .generalInfoContainer .getInTouch .generalInfoInnerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 25px;
}

@media (max-width: 1250px) {
  .generalInfoContainer .locations .generalInfoInnerContainer, .generalInfoContainer .community .generalInfoInnerContainer, .generalInfoContainer .homepageBlog .generalInfoInnerContainer, .generalInfoContainer .getInTouch .generalInfoInnerContainer {
    padding: 10px;
  }
}

@media (max-width: 1100px) {
  .generalInfoContainer .locations .generalInfoInnerContainer, .generalInfoContainer .community .generalInfoInnerContainer, .generalInfoContainer .homepageBlog .generalInfoInnerContainer, .generalInfoContainer .getInTouch .generalInfoInnerContainer {
    padding: 0;
  }
}

.generalInfoContainer .locations .generalInfoInnerContainer .icon, .generalInfoContainer .community .generalInfoInnerContainer .icon, .generalInfoContainer .homepageBlog .generalInfoInnerContainer .icon, .generalInfoContainer .getInTouch .generalInfoInnerContainer .icon {
  width: 60px;
  height: 60px;
  padding: 20px;
  border-radius: 50%;
  background-color: #4C0341;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1100px) {
  .generalInfoContainer .locations .generalInfoInnerContainer .icon, .generalInfoContainer .community .generalInfoInnerContainer .icon, .generalInfoContainer .homepageBlog .generalInfoInnerContainer .icon, .generalInfoContainer .getInTouch .generalInfoInnerContainer .icon {
    width: 45px;
    height: 45px;
  }
}

.generalInfoContainer .locations .generalInfoInnerContainer .icon i, .generalInfoContainer .community .generalInfoInnerContainer .icon i, .generalInfoContainer .homepageBlog .generalInfoInnerContainer .icon i, .generalInfoContainer .getInTouch .generalInfoInnerContainer .icon i {
  font-size: 3.2rem;
  color: #FFFFFF;
}

@media (max-width: 1100px) {
  .generalInfoContainer .locations .generalInfoInnerContainer .icon i, .generalInfoContainer .community .generalInfoInnerContainer .icon i, .generalInfoContainer .homepageBlog .generalInfoInnerContainer .icon i, .generalInfoContainer .getInTouch .generalInfoInnerContainer .icon i {
    font-size: 2rem;
  }
}

.generalInfoContainer .locations .generalInfoInnerContainer .generalInfoText, .generalInfoContainer .community .generalInfoInnerContainer .generalInfoText, .generalInfoContainer .homepageBlog .generalInfoInnerContainer .generalInfoText, .generalInfoContainer .getInTouch .generalInfoInnerContainer .generalInfoText {
  width: calc(100% - 125px);
  padding-left: 20px;
}

@media (max-width: 1100px) {
  .generalInfoContainer .locations .generalInfoInnerContainer .generalInfoText, .generalInfoContainer .community .generalInfoInnerContainer .generalInfoText, .generalInfoContainer .homepageBlog .generalInfoInnerContainer .generalInfoText, .generalInfoContainer .getInTouch .generalInfoInnerContainer .generalInfoText {
    width: 100%;
    padding-left: 10px;
  }
}

.fullBleedShoes {
  width: 100vw;
}

@media (max-width: 1100px) {
  .fullBleedShoes {
    display: none;
  }
}

.fullBleedShoes img {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
}

.popularThisMonth {
  background-color: #FFFFFF;
  padding: 100px 0;
}

@media (max-width: 1250px) {
  .popularThisMonth {
    padding: 50px 0;
  }
}

@media (max-width: 1100px) {
  .popularThisMonth {
    padding-top: 0;
    padding-bottom: 25px;
  }
}

.popularThisMonth .popularThisMonthContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 1100px) {
  .popularThisMonth .popularThisMonthContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.popularThisMonth .popularThisMonthContainer .popularThisMonthImgContainer {
  width: 25%;
}

@media (max-width: 1100px) {
  .popularThisMonth .popularThisMonthContainer .popularThisMonthImgContainer {
    width: 100%;
  }
}

.popularThisMonth .popularThisMonthContainer .popularThisMonthImgContainer .popularThisMonthImg {
  position: relative;
}

@media (max-width: 1100px) {
  .popularThisMonth .popularThisMonthContainer .popularThisMonthImgContainer .popularThisMonthImg {
    position: static;
  }
}

.popularThisMonth .popularThisMonthContainer .popularThisMonthImgContainer .popularThisMonthImg img {
  display: block;
}

@media (max-width: 1100px) {
  .popularThisMonth .popularThisMonthContainer .popularThisMonthImgContainer .popularThisMonthImg {
    margin: 0 -10px;
  }
}

.popularThisMonth .popularThisMonthContainer .popularThisMonthImgContainer .popularThisMonthImg::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -20px;
  width: 20px;
  height: calc(100% - 20px);
  background-color: #FE6F19;
}

@media (max-width: 1100px) {
  .popularThisMonth .popularThisMonthContainer .popularThisMonthImgContainer .popularThisMonthImg::before {
    display: none;
  }
}

.popularThisMonth .popularThisMonthContainer .popularThisMonthImgContainer .popularThisMonthImg::after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: -20px;
  width: 100%;
  height: 20px;
  background-color: #FE6F19;
}

@media (max-width: 1100px) {
  .popularThisMonth .popularThisMonthContainer .popularThisMonthImgContainer .popularThisMonthImg::after {
    display: none;
  }
}

.popularThisMonth .popularThisMonthContainer .popularThisMonthTextContainer {
  padding-left: 100px;
  width: calc(75% - 100px);
}

@media (max-width: 1250px) {
  .popularThisMonth .popularThisMonthContainer .popularThisMonthTextContainer {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .popularThisMonth .popularThisMonthContainer .popularThisMonthTextContainer {
    padding: 20px 0;
    width: 100%;
  }
}

.instagram {
  width: 100%;
  background-color: #FAE5FF;
  padding: 100px 0;
}

.instagram .instagramContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.instagram .instagramContainer .instagramImgContainer {
  width: calc(100% / 3 - 25px);
  position: relative;
}

.instagram .instagramContainer .instagramImgContainer .instagramHover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20rem;
  opacity: 0;
}

.instagram .instagramContainer .instagramImgContainer .instagramHover:hover, .instagram .instagramContainer .instagramImgContainer .instagramHover:focus {
  opacity: 1;
}

.instagram .instagramContainer .instagramImgContainer .instagramHover a i {
  color: #FFFFFF;
}

@media (max-width: 1100px) {
  .instagram .instagramContainer .instagramImgContainer {
    width: calc(100% / 3);
  }
}

.instagram .instagramContainer .instagramImgContainer div {
  padding-right: 25px;
}

.instagram .instagramContainer .instagramImgContainer div:nth-of-type(3) {
  padding-right: 0;
}

.contactHeader {
  background-image: url("../assets/contact-image.jpg");
  height: 60vh;
}

@media (max-width: 1100px) {
  .contactHeader {
    height: 90vh;
  }
}

.contact {
  background-color: #FAE5FF;
  padding: 100px 0;
  position: relative;
  z-index: 1000;
}

@media (max-width: 1100px) {
  .contact {
    padding: 20px 0;
  }
}

.contact .contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

@media (max-width: 1100px) {
  .contact .contactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 1100px) {
  .contact .contactContainer .contactInfo {
    width: 100%;
  }
}

.contact .contactContainer .contactIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1100px) {
  .contact .contactContainer .contactIcons {
    width: 100%;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contact .contactContainer .contactIcons i {
  padding-right: 40px;
  font-size: 3rem;
  color: #4C0341;
}

@media (max-width: 1100px) {
  .contact .contactContainer .contactIcons i {
    padding-right: 10px;
  }
}

.contact .contactContainer .emailPhoneAddress {
  width: 35%;
}

@media (max-width: 1100px) {
  .contact .contactContainer .emailPhoneAddress {
    width: 100%;
    text-align: center;
  }
}

.contact .contactContainer .emailPhoneAddress span {
  font-family: "Pompiere", cursive;
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 30px 0;
  display: block;
}

.contact .contactContainer .emailPhoneAddress p {
  white-space: nowrap;
}

.contact .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-width: 65%;
  margin-top: -40vh;
}

@media (max-width: 1490px) {
  .contact .form {
    max-width: 55%;
  }
}

@media (max-width: 1250px) {
  .contact .form {
    min-width: 55%;
  }
}

@media (max-width: 1100px) {
  .contact .form {
    width: 100%;
    margin-top: 0;
  }
}

.contact .form form {
  width: 100%;
  height: 100%;
  position: relative;
}

.contact .form form::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -50px;
  height: calc(100% - 50px);
  width: 50px;
  background-color: #FE6F19;
}

@media (max-width: 1490px) {
  .contact .form form::before {
    bottom: 0;
    left: -20px;
    height: calc(100% - 20px);
    width: 20px;
  }
}

@media (max-width: 1250px) {
  .contact .form form::before {
    display: none;
  }
}

@media (max-width: 1100px) {
  .contact .form form::before {
    display: none;
  }
}

.contact .form form::after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: -50px;
  width: 100%;
  height: 50px;
  background-color: #FE6F19;
}

@media (max-width: 1490px) {
  .contact .form form::after {
    bottom: -20px;
    left: -20px;
    width: 100%;
    height: 20px;
  }
}

@media (max-width: 1250px) {
  .contact .form form::after {
    display: none;
  }
}

@media (max-width: 1100px) {
  .contact .form form::after {
    display: none;
  }
}

@media (max-width: 1100px) {
  .formHeader {
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }
}

.blogHeader {
  background-image: url("../assets/blog-header.jpg");
  height: 60vh;
}

@media (max-width: 1100px) {
  .blogHeader {
    height: 90vh;
  }
}

.blog {
  background-color: #FAE5FF;
  padding: 100px 0;
}

@media (max-width: 1100px) {
  .blog {
    padding: 10px 0;
  }
}

.blog .wrapper {
  margin-left: 20%;
  width: auto;
}

@media (max-width: 1100px) {
  .blog .wrapper {
    margin: 0 10px;
  }
}

.blog h4 {
  color: #0D0D0D;
  font-family: "Pompiere", cursive;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 400;
}

.blog h5 {
  color: #0D0D0D;
  font-family: "Pompiere", cursive;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  padding: 10px 0;
}

.blog .blogContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 1100px) {
  .blog .blogContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.blog .blogContainer .recentPostsImg {
  width: calc(20% + 400px);
  background-color: #FFFFFF;
  margin-left: 0px;
  position: relative;
}

@media (max-width: 1100px) {
  .blog .blogContainer .recentPostsImg {
    display: none;
  }
}

.blog .blogContainer .recentPostsImg img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: calc(100% - 20px);
  display: block;
}

.blog .blogContainer .recentPosts {
  width: 400px;
  margin-right: 200px;
  background-color: #FFFFFF;
  padding: 0 20px 20px 20px;
}

@media (max-width: 1100px) {
  .blog .blogContainer .recentPosts {
    width: 100%;
    margin-right: 0;
  }
}

.blog .blogContainer .recentPosts h5 {
  padding-top: 20px;
}

.blog .blogContainer .recentPosts p:first-of-type {
  margin-bottom: 20px;
}

.blog .blogContainer .recentPosts li {
  list-style: disc;
}

.blog .blogContainer .recentPosts li a {
  font-family: "Lato", sans-serif;
  font-size: 2.3rem;
  color: #0D0D0D;
  text-decoration: none;
  font-weight: 400;
  line-height: 1.8;
}

.blog .blogContainer .blogPosts {
  width: calc(100% - 600px);
  background-color: transparent;
  margin-top: -40vh;
  margin-left: -50px;
  position: relative;
  z-index: 1000;
}

@media (max-width: 1100px) {
  .blog .blogContainer .blogPosts {
    width: 100%;
    position: static;
    margin-top: 0;
    margin-left: 0;
    z-index: 1;
  }
}

.blog .blogContainer .blogPosts .blogPostsHeader {
  padding-bottom: 100px;
}

@media (max-width: 1100px) {
  .blog .blogContainer .blogPosts .blogPostsHeader {
    padding: 20px 0;
  }
}

.blog .blogContainer .blogPosts .post {
  background-color: transparent;
}

.blog .blogContainer .blogPosts .post p:first-of-type {
  padding-top: 50px;
}

@media (max-width: 1100px) {
  .blog .blogContainer .blogPosts .post p:first-of-type {
    padding-top: 20px;
  }
}

.blog .blogContainer .blogPosts .postText {
  padding: 100px;
  background-color: #FFFFFF;
}

@media (max-width: 1100px) {
  .blog .blogContainer .blogPosts .postText {
    padding: 20px;
  }
}

.blog .blogContainer .blogPosts .blogPostImg {
  width: calc(100% - 50px);
  margin-top: -50px;
  margin-left: 50px;
  position: relative;
}

@media (max-width: 1100px) {
  .blog .blogContainer .blogPosts .blogPostImg {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    position: static;
  }
}

.blog .blogContainer .blogPosts .blogPostImg::before {
  content: "";
  width: 50px;
  height: calc(100% - 50px);
  position: absolute;
  bottom: 0;
  left: -50px;
  background-color: #FE6F19;
}

@media (max-width: 1100px) {
  .blog .blogContainer .blogPosts .blogPostImg::before {
    display: none;
  }
}

.blog .blogContainer .blogPosts .blogPostImg::after {
  content: "";
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: -50px;
  left: -50px;
  background-color: #FE6F19;
}

@media (max-width: 1100px) {
  .blog .blogContainer .blogPosts .blogPostImg::after {
    display: none;
  }
}

.blog .blogContainer .blogPosts .blogPostImg img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
}

.blog .blogContainer .blogPosts .comments {
  padding: 50px 0;
  width: 90%;
}

@media (max-width: 1100px) {
  .blog .blogContainer .blogPosts .comments {
    padding: 20px 0;
    width: 100%;
  }
}

.blog .blogContainer .blogPosts .comments form {
  background-color: transparent;
}

.blog .blogContainer .blogPosts .comments form input, .blog .blogContainer .blogPosts .comments form textarea {
  background-color: transparent;
}

.blog .blogContainer .blogPosts .comments .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 50px;
}

@media (max-width: 1100px) {
  .blog .blogContainer .blogPosts .comments .comment {
    padding-top: 20px;
  }
}

.blog .blogContainer .blogPosts .comments .comment .userImg {
  width: 20%;
  padding: 0 50px;
}

@media (max-width: 1100px) {
  .blog .blogContainer .blogPosts .comments .comment .userImg {
    padding: 0 10px;
  }
}

.blog .blogContainer .blogPosts .comments .comment .userImg img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
}

.blog .blogContainer .blogPosts .comments .comment .userComment {
  width: 80%;
}

@media (max-width: 1100px) {
  .blog .blogContainer .blogPosts .comments .comment .userComment {
    width: 100%;
  }
}

.blog .postDate {
  font-size: 2.3rem;
  font-family: "Lato", sans-serif;
  color: #0D0D0D;
  font-weight: 700;
}

footer {
  width: 100%;
  background-color: #882C07;
  text-align: center;
  padding: 10px 0;
}

footer p {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 2rem;
}
